{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_hero %}
<div class="hero-section text-center d-flex align-items-center justify-content-center">
    <div class="overlay w-100 h-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-dark">Our Blog</h1>
        <p class="lead text-muted">Insights, tips, and stories to help you on your journey to freedom.</p>
        <a href="#blog-intro" class="btn btn-primary">Explore Now</a>
    </div>
</div>
{% endblock %}

{% block content %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<div id="blog-intro" class="container py-5  mx-auto">
<h2 class="text-dark text-center py-3">Welcome to Our Blog</h2>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 px-1 px-md-3 px-lg-5">
            
            <p class="text-muted intro-text py-2">Dive into a collection of articles, tips, and personal stories that provide insights and
                guidance on overcoming emotional obsession, unhealthy relationships, and limerence addiction. Our blog aims to
                offer support and inspiration as you embark on your journey to freedom.</p>
        </div>
        <div class="col-md-4 px-1 px-md-3 px-lg-5">
            <img src="{% static 'images/blog-image.jpg' %}" class="img-fluid rounded" alt="Blog Introduction Image">
        </div>
    </div>
</div>

<div class="blog-post-container py-5 px-1 px-md-3 px-lg-5">
    <h2 class="text-center text-dark mb-4">Latest Posts</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 mb-4">
            <div class="card h-100 {% cycle 'color1-card' 'color2-card' 'color3-card' 'color4-card' %}">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <a href="{{ post.url }}" class="text-decoration-none text-dark">{{ post.title }}</a>
                    </h2>
                    <p class="card-text text-muted">{{ post.date }}</p>
                    <div class="intro card-text">{{ post.intro|richtext }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Call-to-Action Section -->
<div id="cta" class="text-center py-5 bg-light">
    <h2 class="text-dark">Ready to Begin Your Journey?</h2>
    <p class="text-muted">Contact us today to learn more or to book a session.</p>
    <a href="{% url 'contact' %}" class="btn btn-primary">Get in Touch</a>
</div>

{% endblock %}
