{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us | Born Free, Limerence Coaching{% endblock %}
{% block meta %}
<meta name="description" content="Contact Born Free Limerence Coaching for professional guidance and support in overcoming emotional obsession and unhealthy relationships. Located in Hooksett, NH, we serve nearby areas including Manchester, Bedford, Concord, Nashua, Amherst, Goffstown, Pembroke, Merrimack, Bow, Canterbury, and Epsom.">
<meta name="keywords" content="Contact, Born Free Limerence Coaching, Limerence therapist, Emotional obsession help, Relationship counseling, Mental health support, Therapy services, Counseling services, Hooksett NH, Manchester, Bedford, Concord, Nashua, Amherst, Goffstown, Pembroke, Merrimack, Bow, Canterbury, Epsom, Mindfulness, Dialectical Behavior Therapy, Existential Therapy, Strength-Based Therapy">
<meta name="author" content="Clean Design UK">
<meta property="og:title" content="Contact Us - Born Free Limerence Coaching">
<meta property="og:description" content="Contact Born Free Limerence Coaching for professional guidance and support in overcoming emotional obsession and unhealthy relationships. Located in Hooksett, NH.">
<meta property="og:image" content="{% static 'images/limerence-logo.png' %}">
<meta property="og:url" content="https://www.bornfreelimerencecoaching.com/contact">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Contact Us - Born Free Limerence Coaching">
<meta name="twitter:description" content="Contact Born Free Limerence Coaching for professional guidance and support in overcoming emotional obsession and unhealthy relationships. Located in Hooksett, NH.">
<meta name="twitter:image" content="{% static 'images/limerence-logo.png' %}">

{% endblock %}
{% block content %}
<link href="{% static 'css/contact.css' %}" rel="stylesheet">
<div class="container mt-5 mb-5 py-3">
    <div class="text-center mb-5 text-intro-container mx-auto">
        <h1 class="text-dark mb-3">Get in Touch with Born Free, Limerence Coaching</h1>
        <p class="lead text-muted">
            I'm here to support you on your journey to finding freedom through letting go. At Born Free, Limerence Coaching, my mission is to guide you through understanding and overcoming limerence. Whether you have questions, need advice, or want to book a session, I'm just a message away.
        </p>
    </div>
    
    <div class="contact-info px-1 px-md-2 py-5 mb-5  mx-auto card plumeria-card">
<div class="contact-container mx-1 mx-md-3 mx-lg-5">
        <h2 class="text-dark">Contact Information</h2>
        <p class="text-muted">I'd love to hear from you! You can reach me through the following methods:</p>
        <ul class="list-unstyled">
            <li class="mb-3">
                <strong>Email:</strong> 
                <br>
                <a href="mailto:avalonz@bornfreelimerencecoaching.com" class="contact-link d-md-flex">avalonz@bornfreelimerencecoaching.com</a>
            </li>
            <li class="mb-3">
                <strong>Phone:</strong> 
                <br>
                <a href="tel:07496300863" class="contact-link">Phone: (760) 473-8042 </a>
            </li>
            <li class="mb-3">
                <strong>Facebook:</strong> 
                <br>
                <a href="https://www.facebook.com/profile.php?id=61561346123027" target="_blank" class="contact-link">Born Free, Limerence Coaching</a>
            </li>
        </ul>
    </div>
    </div>

<div class="contact-form px-1 px-md-2 mx-auto py-5 card orchid-card">
    <h2 class="text-dark text-center py-2">Send Me a Message</h2>
    <form action="https://api.web3forms.com/submit" method="POST" class="row g-3 px-2 px-md-4 px-lg-5">
        <input type="hidden" name="access_key" value="4f049c54-66cb-4416-b199-aa4caa870bb1">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="col-md-6">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="col-12">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary mt-3">Send Message</button>
        </div>
    </form>
</div>



{% endblock %}
